{
    "env": {
        "test": {
            "presets": [
                "es2015",
                "stage-0",
                "react"
            ],
            "plugins": [
                "transform-runtime",
                "transform-class-properties"
            ]
        }
    },
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        "syntax-jsx",
        "transform-class-properties"
    ]
}
